<div class="loginContainer">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-3">
        <div class="avatarFrameOffline mt-15 mb-15">
          <img class="avatarImage img-fluid" src="/assets/img/generic_avatar.png" alt="">
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <div class="center">

          <p *ngIf="operation == 'register'">¿Ya tienes cuenta? <a (click)="operation = 'login'">Inicia sesión.</a></p>
          <p *ngIf="operation == 'login'">¿No tienes cuenta? <a (click)="operation = 'register'">Regístrate.</a></p>

        </div>
        <div class="borderedContainer">
          <input [(ngModel)]="email" class="form-control mb-15" type="email" placeholder="Ingresar email" name="" id="" />
          <input [(ngModel)]="password" class="form-control mb-15" type="password" placeholder="Ingresar contraseña"
            name="" id="" />
          <input *ngIf="operation == 'register'" class="form-control mb-15" type="text" placeholder="Ingresar nick"
            name="" id="" />
        </div>
        <div class="center">
          <a (click)="login()" *ngIf="operation == 'login'" class="btn btn-primary">Iniciar Sesión</a>
          <a (click)="register()" *ngIf="operation == 'register'" class="btn btn-primary">Registrarse</a>
          <div (click)="loginWithFacebook()" class="fb-login-button" data-size="large" data-button-type="continue_with"
            data-auto-logout-link="false" data-use-continue-as="false">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>