<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      Nueva solicitud
      <a class="close" (click)="close()">&times;</a>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-3">
          <img [src]="friend.avatar || '/assets/img/generic_avatar.png'" class="img-fluid">
        </div>
        <div class="col-md-9">
          <!-- Aca va el msj personal-->
          <label>{{getMessage()}}</label>
          <b> {{friend.nick}} </b>
          <small>{{friend.email}}</small>
          <small>Te ha enviado solicitud de amistad</small>
        </div>
        <hr>
        <h4>Deseas agregar a esta persona?</h4>
        <div class="col-md-12">
          <input type="radio" name="addToMsn" [(ngModel)]="shouldAdd" value="yes" id="add-yes">
          <label for="add-yes">Aceptar solicitud</label> <br>
          <input type="radio" name="addToMsn" [(ngModel)]="shouldAdd" value="no" id="add-no">
          <label for="add-no">No aceptar solicitud</label> <br>
          <input type="radio" name="addToMsn" [(ngModel)]="shouldAdd" value="later" id="add-later">
          <label for="add-later">Preguntarme mas tarde</label> <br>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="btn btn-primary" (click)="accept()">Ok</a>
      <a class="btn btn-danger" (click)="close()">Cerrar</a>
    </div>
  </div>
</div>