<div id="homeContainer">
  <div class="whiteBorderGlassBox">
    <div class="homeHeadContainer">
      <div class="row">
        <div class="col-md-auto">
          <div class="avatarFrameOnline">
            <img id="homeAvatarPicture" src="/assets/img/generic_avatar.png" alt="">
          </div>
        </div>
        <div class="col">
          <b>Facundo</b>
          <div>
            <span>Online</span>
            <br>
            <span>[Escriba un mensaje personal]</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="whiteContainerPadded mt-15">
  <div class="row">
    <div class="col">
      <input class="form-control" type="text" placeholder="Buscar Amigos" [(ngModel)]="query"> <br>
    </div>
    <div class="col-md-auto">
      <img src="/assets/img/logo_live_add.png" class="icon" alt="Add friend">
    </div>
  </div>
  <span *ngIf="friends"><b>Amigos ({{friends.length}} / {{friends.length}})</b></span>
  <div class="d-block mb-5" *ngFor="let user of friends | search: query; let i = index;">
    <a routerLink="/conversation/{{user.uid}}">
      <img id="userStatus" src="../../assets/img/logo_live_{{user.status}}.png" alt="{{user.status}}"> {{i}}.
      {{user.nick}} - {{user.subnick || user.status}} - <small>{{user.email}}</small>
    </a>
  </div>
</div>
