<div id="homeContainer">
  <div class="whiteBorderGlassBox">
    <div class="homeHeadContainer">
      <div class="row">
        <div class="col-md-auto">
          <div class="avatarFrameOnline">
            <img *ngIf="!user.avatar" id="homeAvatarPicture" src="/assets/img/generic_avatar.png" alt="">
            <img *ngIf="user.avatar" id="homeAvatarPicture" src="{{user.avatar}}" alt="">
          </div>
        </div>
        <div class="col">
          <b>{{user.nick}}</b> <br>
          <small>{{user.subnick}}</small>
          <div>
            <span>Online</span>
            <br>
            <span>[Escriba un mensaje personal]</span>
            <a (click)="logout()" class="btn pos-r"><i class="fas fa-sign-out-alt"></i> Desconectarse</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="whiteContainerPadded mt-15">
  <div class="row">
    <div class="col">
      <input class="form-control" type="text" placeholder="Buscar Amigos" [(ngModel)]="query"> <br>
    </div>
    <div class="col-md-auto">
      <img src="/assets/img/logo_live_add.png" (click)="openModal(content)" class="icon" alt="Add friend">
    </div>
  </div>
  <span *ngIf="user && user.friends"><b>Amigos ({{user.friends.length}} / {{user.friends.length}})</b></span>
  <div *ngIf="user && user.friends">
    <div class="d-block" *ngFor="let user of user.friends | search: query; let i = index;">
      <div>{{user}} </div>
    </div>

    <!--
      <a routerLink="/conversation/{{user.uid}}">
      <img *ngIf="user.status != undefined" id="userStatus" src="../../assets/img/logo_live_{{user.status}}.png" alt="{{user.status}}">
      <img *ngIf="user.status == undefined" id="userStatus" src="../../assets/img/logo_live_offline.png" alt="Offline"> {{i}}.
      {{user.nick}} - {{user.subnick || user.status}} - <small>{{user.email}}</small>
    </a>
  </div>
    -->
  </div>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Agregar amigo</h4>
      <button type="button" class="close" aria-describedby="modal-title" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <b>Ingresa el e-mail de tu amigo.</b>
      <input type="text" class="form-control" placeholder="e-mail" [(ngModel)]="friendEmail" (keyup.enter)="sendFriendRequest()">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="sendFriendRequest()">Send</button>
    </div>
  </ng-template>